		@font-face
        {
            font-family:'sanskrit';
            src:url('http://coderpool.site90.com/font.ttf') format('truetype');
        }
        body
		{
			background-color:#96363D;
			font-family:ubuntu;
			font-size:20px;
			color:#BBA5D2;
            padding-bottom:25px;
		}
        div.center
        {
            margin:0px auto;
            width:960px;

        }
		table.addguide
		{
			font-size:20px;
			color:#dfe123;

		}
		div.scrollable
		{
			overflow:scroll;
		}
		h1
		{
			color:#dfe123;
			text-align:center;
		}
		h2
		{
			color:#dfe123;
			text-align:left;
		}
		h1.login
		{
			color:#dfe123;
			text-align:left;
		}
		a.logout
		{
			right:5px;
			font-size:20px;
			position:absolute;
		}
		div.login
		{
			right:50px;
			top:150px;
			font-size:20px;
			position:absolute;
			border:3px black solid;
			width:300px;
			height:300px;
			color:#ADA08F;
			padding-left:10px;
		}
		hr
		{
			height:3px;
			background-color:#750007;
		}
		input.loginField
		{
			left:110px;
			background-color:pink;
			position:absolute;
		}
		input.button
		{
			height:30px;
			width:100px;
			right:35px;
			position:absolute;
		}
		div.error
		{
			color:red;
			font-size:16px;
		}
		div.note
		{
			color:#dfe123;
			font-size:15px;
		}
		#footer
		{
			bottom:0;
			position:fixed;
            width:100%;
            background-color:black;
			font-size:12px;
		}
        button.menu
        {
            height:45px;
            width:150px;
            background:#653346;
            color:cyan;
            border-radius:25px;
        }
        div.center
        {
            left:50px;
            position:relative;
        }
        input.fix_but
        {
            bottom:150px;
            left:60px;
            position:fixed;
            height:40px;
        }
